.reveal{
    outline: none;
    font-size: 14px;
    letter-spacing: 0.02em;
    &[aria-hidden]:not(.reveal--video){
        display: block !important;
        top: 0 !important;
    }
    // @include breakpoint(small down){
    //     height: auto;
    //     min-height: auto;
    //     top: 55px !important;
    //     right: 10px;
    //     left: 10px;
    //     width: calc(100% - 20px);
    // }
    @include breakpoint(small down){
        padding: 30px 15px 0;
    }
    &.large{
        width: 60%;
        @include breakpoint(large down){
            width: 80%;
        }
        @include breakpoint(small down){
            width: 95%;
            height: auto;
            min-height: auto;
            margin: auto;
        }
    }
    &-overlay{
        // overflow: auto;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        transition: opacity 300ms, visibility 300ms !important;
        padding: 35px 0;
        // backdrop-filter: blur(4px);
        &[style]:not([style*="none"]){
            opacity: 1 !important;
            visibility: visible;
        }
        @include breakpoint(small down){
            padding: 0;
        }
    }

    &_header{
        font-size: 21px;
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &_subheader{
        font-size: 18px;
        line-height: 1.16;
        font-weight: 500;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    p{
        margin-bottom: 20px;
        @extend %link;
    }

    .button{
        font-size: 14px;
        padding: 7px 10px;
        font-weight: 400;
    }

    &_list{
        margin: 0 0 10px;
        list-style: none;
        font-weight: 700;
        line-height: 1.9;
        a {
            display: inline-block;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                border-bottom: 1px dashed transparent;
                transition: border-color 250ms;
            }
            &:hover, &:focus{
                color: #7F7550;
                &:after{
                    border-color: #7F7550;
                }
            }
        }
    }

    &_block{
        position: relative;
        &::before{
            content: '';
            display: block;
            margin-left: -35px;
            width: calc(100% + 70px);
            height: 0;
            padding-bottom: 5.62%;
            background-image: url(../assets/img/wave.svg);
            margin-bottom: 5px;
            @include breakpoint(small down){
                width: calc(100% + 30px);
                margin-left: -15px;
            }
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: -35px;
            width: calc(100% + 70px);
            height: 0;
            padding-bottom: 34.21%;
            background: linear-gradient(0deg, $white 0%, #F4F4F4 100%);
            z-index: -1;
            @include breakpoint(small down){
                left: -15px;
                width: calc(100% + 30px);
            }
        }
    }
    &_benefits{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 25px;
        margin-bottom: 20px;
        @include breakpoint(small down){
            grid-template-columns: auto;
            row-gap: 30px;
        }
    }
    &_benefit{
        &:first-child .reveal_benefit_img{
            padding: 2.5px 0;
            @include breakpoint(small down){
                padding: 0;
            }
        }
        &_img{
            @include breakpoint(small down){
                text-align: center;
                // img{
                //     width: 100%;
                //     max-width: 350px;
                // }
            }
        }
        &_header{
            display: block;
            margin-bottom: 5px;
        }
        &_text{
            margin-top: 25px;
            @include breakpoint(small down){
                margin-top: 10px;
            }
        }
    }
    &_link{
        display: flex;
        margin-left: -35px;
        padding: 20px 30px 20px 35px;
        // padding-left: 35px;
        background: #F4F4F4;
        border-radius: 0px 0px 24px 0px;
        width: calc(100% + 20px);
        @include breakpoint(small down){
            display: block;
            margin-left: -15px;
            width: calc(100% + 10px);
            padding: 20px 15px;
        }
        & + & {
            margin-top: 10px;
        }
        + p {
            margin-top: 20px;
        }
        &_img{
            flex: 0 0 auto;
            margin-right: 22px;
            max-width: 180px;
            @include breakpoint(small down){
                margin: 0 0 10px;
                max-width: none;
                img{
                    width: 100%;
                }
            }
        }
        &_content{
            .button{
                display: table;
                margin-left: auto;
                min-width: 192px;
                margin-top: 18px;
                @include breakpoint(small down){
                    margin-top: 10px;
                }
            }
        }
    }
    &_table{
        font-size: 12px;
        // width: calc(100% + 70px);
        border-spacing: 0;
        table-layout: fixed;
        position: relative;
        &_overflow{
            margin: 0 -35px;
            overflow: auto;
            padding-bottom: 20px;
            margin-bottom: 15px;
            -webkit-overflow-scrolling: touch;
            @include breakpoint(small down){
                margin: 0 -15px 15px;
            }
        }
        @include breakpoint(small down){
            width: 550px;
            table-layout: auto;
        }
        &::before, &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 24%;
            background: linear-gradient(0deg, $white 0%, #F4F4F4 100%);
            z-index: -1;
        }
        &::after{
            width: 31%;
            left: auto;
            right: 24%;
            @include breakpoint(small down){
                right: 24%;
            }
        }
        th{
            font-weight: 500;
        }
        th, td{
            text-align: left;
            padding: 16px;
            &:first-child{
                width: 24%;
                padding-left: 35px;
                @include breakpoint(small down){
                    padding-left: 15px;
                }
            }
            &:nth-child(2){
                width: 21%;
            }
            &:last-child{
                width: 24%;
                padding-right: 35px;
                @include breakpoint(small down){
                    padding-right: 15px;
                }
            }
        }
        b{
            color: #342f1c;
        }
        @extend %link;
        &_descr{
            line-height: 1.7;
            font-size: 12px;
        }
    }
    &_figure{
        margin-top: 32px;
        margin-bottom: 20px;
        &_caption{
            margin-top: 20px;
            font-size: 12px;
            @extend %link;
        }
    }
    &_cons{
        list-style: none;
        margin: 0 0 20px;
        text-align: center;     
        li{
            border: 1px solid #D2D2D2;
            border-radius: 5px;
            padding: 20px 24px;
            + li {
                margin-top: 10px;
            }
        }
        @extend %link;
    }
    &_img{
        border-radius: 0px 0px 24px 0px;
        margin-left: -35px;
        // padding-left: 35px;
        width: calc(100% + 10px);
        margin-bottom: 20px;
        overflow: hidden;
        // min-height: 320px;
        @include breakpoint(small down){
            margin-left: -15px;   
        }
        img{
            width: 100%;
        }
        .reveal_figure_caption{
            margin-top: 15px;
            margin-left: 35px;
            @include breakpoint(small down){
                margin-left: 15px;
            }
        }
    }
    &_footer{
        margin: 0 -35px 0;
        padding: 25px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #E8E8E8;
        @include breakpoint(small down){
            margin: 0 -15px 0;
            padding: 20px 15px;
        }
        &_map{
            display: flex;
            align-items: center;
            font-size: 16px;
            @include breakpoint(small down){
                font-size: 12px;
            }
            svg{
                margin-right: 12px;
            }
        }
        &_buttons{
            display: flex;
            .button{
                font-weight: 400;
                min-width: 144px;
                @include breakpoint(small down){
                    min-width: auto;
                    padding: 7px 18px;
                    font-size: 12px;
                }
                + .button{
                    margin-left: 17px;
                }
            }
        }
    }

    &--video{
        border-radius: 3px;
        padding: 14px;
        @include breakpoint(small down){
            padding: 10px;
        }
    }
    &--map{
        background-color: #afa273;
        box-shadow: 0 4px 10px rgba(101, 83, 20, 0.2), 0 2px 4px rgba(46, 30, 0, 0.15);
        padding: 20px 0;
        .reveal_header{
            font-size: 31px;
            margin-left: 40px;
            color: $white;
        }
    }

    .dropdown_close{
        @include breakpoint(small down){
            position: fixed;
            margin: 10px;
        }
    }


    &.fade-in.mui-enter {
        transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        &.mui-enter-active {
            transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        }
    }

    &.fade-out.mui-leave {
        transform: translate3d(0, 0, 0) perspective(435px) rotateX(0);
        &.mui-leave-active {
            transform: translate3d(0, -18px, 0) perspective(435px) rotateX(8deg);
        }
    }
}

.fade-in.mui-enter {
    transition: all 200ms ease-out !important;
    opacity: 0;
    &.mui-enter-active {
        opacity: 1;
    }
}

.fade-out.mui-leave {
    transition: all 200ms ease-in !important;
    opacity: 1;
    &.mui-leave-active {
        opacity: 0;
    }
}