.footer{
    height: 80px;
    position: relative;
    z-index: 2;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 102px;
        height: 343px;
        background-image: url(../assets/img/island_bottom.png);
        background-size: contain;
        z-index: -1;
        @include breakpoint(large down){
            width: 64px;
            height: 215px;
        }
        @include breakpoint(medium down){
            display: none;
        }
    }
    .container{
        transform: translateY(80px);
    }
    &_carousel{
        padding: 0 62px;
        margin: 0;
        &_item{
            width: 180px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            border: 1px solid #988a5b;
            background-color: $secondary-color;
            margin: auto;
            @include breakpoint(medium down){
                width: auto;
                padding: 0 10px;
            }
            @include breakpoint(small down){
                min-width: 180px;
            }
            &:not(:hover):not(:focus){
                path{
                    fill: #757162;
                    &[fill="#F7931A"]{
                        fill: #4e4b44;
                    }
                }
            }
            path{
                transition: fill 300ms;
            }
        }
        .owl-item .footer_carousel_item img{
            width: auto;
        }
    }
}