.map{
    // z-index: 2;
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
        overflow: visible;
    }
    &_wrap{
        overflow: auto;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            overflow: visible;
        }
    }
    .container{
        position: relative;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        flex: 1 1 100%;
        min-height: 575px;
        @include breakpoint(medium down){
            min-height: auto;
        }
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            min-height: calc(100vw / 2);
        }
    }
    &_header {
        display: inline-block;
        position: relative;
        z-index: 3;
        padding-right: 24px;
        opacity: 0;
        &::before{
            content: '“';
        }
        &::after{
            content: '”';
        }
        @include breakpoint(large down){
            margin-top: 10px;
            padding: 0 12px;
        }
        @include breakpoint(medium down){
            position: fixed;
            top: 105px;
            left: 24px;
            margin-top: 0;
        }
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            position: relative;
            top: 0;
            left: 0;
        }
        @include breakpoint(755 down){
            font-size: 4.02vw;
        }
        @include breakpoint(small down){
            top: 75px;
            left: 15px;
            font-size: 5vw;
            padding: 0 10px;
        }
        br{
            display: none;
            @include breakpoint(small down){
                display: block;
            }
        }
        span {
            display: block;
            white-space: nowrap;
            position: absolute;
            top: 0;
            left: -12px;
            height: 0;
            width: 8px;
            background-color: $primary-color;
            color: $white;
            overflow: hidden;
            text-indent: 12px;
            @include breakpoint(large down){
                left: 0;
            }
            @include breakpoint(small down){
                white-space: normal;
                // padding: 0 10px;
                text-indent: 0;
            }
            &::before{
                content: attr(data-title);
                @include breakpoint(small down){
                    display: block;
                    padding: 0 10px;
                    width: calc(56vw + 20px);
                }
            }
        }
    }
    &_windrose{
        position: absolute;
        bottom: -36px;
        left: 6px;
        transform: translateX(-100%);
        z-index: 0;
        @include breakpoint(large down){
            bottom: 50%;
            left: 50%;
            transform: translate(-50%, 50%);
        }
        &.flip{
            #arcPath{
                transform: scale(-1, 1) translate(-100%, 0);
            }
        }
    }
    &_miner{
        position: absolute;
        bottom: 0;
        right: -97px;
        z-index: 3;
        @include breakpoint(large down){
            right: 10px;
            bottom: 10px;
            svg{
                width: 230px;
                height: 250px;
            }
        }
        @include breakpoint(medium down){
            position: fixed;
            bottom: 90px;
        }
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            position: absolute;
            right: 24px;
            bottom: 10px;
            width: 85px;
            height: 97px;
            background-image: url(../assets/img/miner_mobile.svg);
            svg{
                display: none;
            }
        }
        @include breakpoint(small down){
            right: 15px;
            width: 85px;
            height: 97px;
            background-image: url(../assets/img/miner_mobile.svg);
            svg{
                display: none;
            }
        }
        transition: transform 300ms;
        &.mapOpened{
            z-index: 1006;
            // opacity: 0;
            // bottom: 20px;
            transform: translateY(70px);
        }
        &.mapReady{
            opacity: 1;
        }
        &_g{
            cursor: pointer;
            user-select: none;
        }
    }
    &_container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        @include breakpoint(medium down){
            min-height: auto;
            width: calc(((var(--vh, 1vh) * 100) - 95px - 80px) * 2);
        }
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            width: 100%;
            min-height: calc(100vw / 2);
        }
        > img{
            margin-left: -40px;
            height: 100%;
        }
    }
    &_points{
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin-left: -20px;
        z-index: 3;
        fill: $primary-color;
        @include breakpoint(large down){
            margin-left: 0;
        }
        &--path{
            fill: none;
            stroke: #7F7550;
            z-index: 2;
            margin-left: -16px;
            mask path{
                stroke-dashoffset: -1926.38;
                stroke-dasharray: 0px, 1936.38px;
                stroke: $white;
                stroke-width: 3px;
            }
        }
        &--fog{
            // max-width: 1214px;
            // left: 50%;
            // transform: translateX(x);
            text-align: center;
            z-index: 1;
            @include breakpoint(medium down){
                z-index: initial;
            }
            @include breakpoint(small down){
                // z-index: 1;
            }
        }
        &--inactive{
            z-index: 2;
        }
        &_container{
            position: relative;
            height: 100%;
            opacity: 0;
            z-index: 1;
            img{
                height: 100%;
                background: url('../assets/img/map@2x.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &_point{
        transition: fill 300ms;
        // cursor: help;
        cursor: pointer;
        outline: none;
        visibility: hidden;
        opacity: 0;
        &[aria-expanded="true"], &:hover, &:focus{
            fill: $alert-color;
        }
        &_digit{
            fill: $white;
        }
        &_cross{
            fill: $alert-color;
        }
        g{
            opacity: 0;
        }
        &--inactive{
            fill: #7f7550;
            cursor: not-allowed;
            .map_point{
                &_digit{
                    fill: #D7C99C;
                }
                &_cross{
                    fill: #7f7550;
                }
            }
        }
    }
    &_countdown{
        position: absolute;
        top: 50px;
        right: 10.6%;
        border-radius: 3px;
        border: 1px solid #988a5b;
        background-color: $white;
        font-size: 18px;
        padding: 8px 28px;
        @include breakpoint(large down){
            right: 52px;
            top: 60px;
        }
        @include breakpoint(medium down){
            position: fixed;
            top: 160px;
            right: 24px;
            z-index: 5;
        }
        @media screen and (max-width: #{map-get($breakpoints, 'large') - 1}) and (orientation: landscape){
            position: absolute;
            top: 60px;
            display: none;
        }
        @include breakpoint(small down){
            display: none;
        }
        small{
            display: block;
        }
        // right: 50%;
        // transform: translateX(50%);
    }
}